body{
    background: rgb(230, 230, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: rgb(192, 217, 255);
    margin: 20px;
}


.container{
    border: 2px solid rgb(136, 70, 167);
    border-radius: 10px;

}
